body{
    overflow:hidden;
}
/* Style of the menu for buildings constructions during the game */
.container .menu .buildingsList{
    position: absolute;
    background: lightblue;
    width: 100%;
    height: 10%;
    top: 90%;
    z-index: 1;
    font-size: 0;
}

/* Styles of buttons menu */
.container .menu .buildingsList .buildingsButtons{
    display: inline-block;
    height: 100%;
    margin: 0;
    position: relative;
}

/* Styles of visual in the menu bar */
.container .menu .buildingsList .buildingsButtons img{
    border: 2px solid black;
    width: 100%;
    height: 100%;
}
/* Style of every descriptions of buttons in the menu games */
.container .menu .buildingsList .buildingsButtons .description{
    background: black;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
}
/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.threeDPrinter .description.threeDPrinter{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.threeDPrinter:hover .description.threeDPrinter{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.hydroOxygenComplex .description.hydroOxygenComplex{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.hydroOxygenComplex:hover .description.hydroOxygenComplex{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.solarTurbine .description.solarTurbine{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.solarTurbine:hover .description.solarTurbine{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.greenhouse .description.greenhouse{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.greenhouse:hover .description.greenhouse{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.sulfurFactory .description.sulfurFactory{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.sulfurFactory:hover .description.sulfurFactory{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.silo .description.silo{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.silo:hover .description.silo{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.battery .description.battery{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.battery:hover .description.battery{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.drill .description.drill{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.drill:hover .description.drill{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.warehouse .description.warehouse{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.warehouse:hover .description.warehouse{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.lauchingRamp .description.lauchingRamp{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.lauchingRamp:hover .description.lauchingRamp{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.houses .description.houses{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.houses:hover .description.houses{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.sickBay .description.sickBay{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.sickBay:hover .description.sickBay{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.sportsHall .description.sportsHall{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.sportsHall:hover .description.sportsHall{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.leindenfrostTurbine .description.leindenfrostTurbine{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.leindenfrostTurbine:hover .description.leindenfrostTurbine{
    opacity: 0.8;
}

/* Place the description over its associate button */
.container .menu .buildingsList .buildingsButtons.oilSlickDrill .description.oilSlickDrill{
    left: 0;
    bottom: 100%;
}
/* Change the opacity of the description to make it appear on hover */
.container .menu .buildingsList .buildingsButtons.oilSlickDrill:hover .description.oilSlickDrill{
    opacity: 0.8;
}
