
body{
    overflow:hidden;
}
div,canvas{
    
    transform: rotateX(0) rotateY(0);
    transform-style: preserve-3d;
    transition-duration: 0s;
    transition-timing-function: ease-in-out
    
    
}
.homePage .interactiveMenu{
width:100vw;
height:100vh;
position: absolute;
z-index: 1;
will-change: opacity;
}
.homePage .buttonUser{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: none;
}
.homePage #tiltTest{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    background: red;
    position: absolute;
    z-index: 9;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
}
.homePage .selecArea{
    height: 70px;
    width: 70px;
    position: absolute;
    border:3px solid #fefefe;
    will-change: transform;
    z-index: 2;
    background: none;
    border-radius: 50%;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(.41,.38,.17,.87);
    transition-duration: 1s;
    background-repeat: no-repeat;
    background-position: center;    
    top:80%;
    left:70%;
    opacity: 0;
}
.homePage .titleZone{
    position: absolute;
    z-index: 45;
    top: 10%;
    left: calc(50% - 226px)
}
.titleZone .goalArea {
    color: white;
    font-family:"Lato Thin";
    font-weight:100;
    width: 456px;
    height: 374px;
    font-size:60px;
    text-align: left;
    opacity: 0;
    transition-delay: 0.8s;
    position: absolute;
    left: -70%;
    top:170%;
    transition-duration:0.4s;
    line-height: 60px;
}
.goalArea span{
    width:100%;
    display: inline-block;
}
.homePage #playBtn{
    position: absolute;
    width: 200px;
    height: 50px;
    border:solid white 1.5px;
    text-align: center;
    font-family:"Lato Black";
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding-top: 12px;
    z-index: 30;
    transition-duration: 0.5s;
    left:calc(50% - 100px);
    top:calc(50% - 25px);
    will-change: opacity;
}
.homePage #playBtn:hover{
    cursor: pointer;
    background: white;
    color:black;
    border-color: black;
    perspective: 0px;
}

.homePage .logoTitle{
    z-index: 2;
    top:20%;    
    left:10%;
    will-change: transform;
    transition-duration:0.6s;
    transition-timing-function: ease-in-out;

}
.homePage .selecArea:hover{
    cursor: pointer;
}
.homePage .infoEarth{
    position: absolute;
    z-index: 1;
    width: auto;
    height:100%;
    width:300px;  
    right:0;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    will-change: transform;
    

}
.infoEarth .earthFrame{
    position: absolute;
    height:100%;
    width: 300px;
    background: rgba(255,255,255,0.85);  
    left: 0;

}
.earthFrame h3{
    font-family:"Lato Black";
    text-align:center;
    text-transform: uppercase;
}
.homePage .bottomLink{
    height:6%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    font-family: Lato light;
    color:white;
    opacity: 0;
    transition-duration: 0.4s;
    text-decoration: none;

}
.homePage .bottomLink:hover{
    cursor: pointer;
    

}
.bottomLink  .terms{
    left:calc(20% - 43.5px);
    position: absolute;
    z-index: 10;
    text-decoration: none;

}
.bottomLink .copyright{
    left:calc(50% - 182px);
    position: absolute;
    text-decoration: none;
}
.bottomLink .linkOfi{
    left:calc(75% - 60px);
    position: absolute;
    text-decoration: none;
}
.homePage .hyperSpace{
    display:none;
    vertical-align: middle;
    perspective: 10px;
    perspective-origin: 100%,100%;
    position: relative;
    background: none;
    width: 100vw;
    height: 100vh;


}
.hyperSpace .side{
    background: url(../images/star.png);
    background-size: cover;
    position: absolute;
    opacity: 0;
    animation: starFade 5s infinite linear;
    animation-delay: 0;
    width: 100vw;
    height:100vh;

}
.hyperSpace .starContainer{
    position: absolute;
    width: 100%;;
    height: 100%;
    transform-style: preserve-3d;
    animation: starMove 6s infinite linear;
    animation-fill-mode: forwards;
    z-index: 10;
    background: none;
}
.hyperspace::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.starContainer .sideRight {
    transform: rotateY(90deg) translateZ(500px);
    background:url(../images/star.jpg);
    width: 2200px;
    
}
.starContainer .sideLeft {
    transform: rotateY(-90deg) translateZ(500px);
    background:url(../images/star.jpg);
    
}
.starContainer .sideTop {
    transform: rotateX(90deg) translateZ(500px);
    background:url(../images/star.jpg);
    height:1100px;
    
}
.starContainer .sideBottom {
    transform: rotateX(-90deg) translateZ(500px);
    background:url(../images/star.jpg);
    height: 1100px;
}
.starContainer .sideBack {
    transform: rotateX(-90deg) translateZ(500px);
    background:url(../images/star.jpg);
}
.hyperSpace .backgroundSpace{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background: black;
    transition-duration: 0s;
    border-radius: 100%;
}
.homePage .marsPlanet{
    opacity: 0;
    position: absolute;
    z-index: 1;
    left:calc(50% - 202px);
    top:calc(50% - 201px);
    will-change: opacity;
    transition-duration: 0.4s;
    border-radius:50%;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    
}




@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    
    to {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes expend {
    from {
        transform: scale3d(1, 1, 1);
    }
    to {
        transform: scale3d(1.3, 1.3, 1.3);
    }
}
@keyframes entranceRight {
    from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    }
    to {
    opacity: 1;
    transform: none;
    
    }
}
@keyframes exitRight {
    from {
    opacity: 1;
    transform: none;
    }
    to {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    }
}

@keyframes starMove {
    0%{
        transform: translateZ(-500px) rotate(0deg);
    }
    100%{
        transform: translateZ(500px) rotate(0deg);
    }
}  
@keyframes starFade {
    0%{
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@font-face {
	font-family: "Lato Medium";
	src: url("../fonts/Lato-Medium.ttf")
} 
@font-face {
	font-family: "Lato Black";
	src: url("../fonts/Lato-Heavy.ttf")
} 
@font-face {
	font-family: "Lato Light";
	src: url("../fonts/Lato-Light.ttf")
} 
@font-face {
	font-family: "Lato Thin";
	src: url("../fonts/Lato-Hairline.ttf")
} 

